:root {
  --bg: black;
  --pink: #ff41af;
  --blue: #1a1f44;
  --lblue: #5169a2;
  --yellow: #ffd800;
}

.container {
  font-size: 1rem;
  animation: myAnim 0.8s ease 0s 1 normal forwards;
}

.circles_wrapper {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

.inputs_wrapper {
  display: grid;
  gap: 20px;
  grid-template-areas: 'a a a a' 'b b c c' 'd d e e';
  min-width: 400px;
  font-family: 'Press Start 2P', system-ui;
}

input,
select {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--blue);
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 15px;
}

input:hover,
select:hover {
  border-color: var(--lblue);
}

select::-webkit-scrollbar {
  width: 18px;
}

select::-webkit-scrollbar-thumb {
  background: var(--yellow);
  border-radius: 6px;
}


.header_wrapper {
  background-color: var(--blue);
  border: #5169a2 2px solid;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Honk', system-ui;
  /* font-family: 'Sixtyfour', sans-serif; */
  /* font-family: 'Space Mono', monospace; */
  /* font-family: 'Courier Prime', monospace; */
  /* font-family: 'Press Start 2P', system-ui; */
  font-weight: 400;
  margin: 0;
  margin-bottom: 5px;
  font-size: 3rem;
}

h2,
h3 {
  font-size: 2rem;
  font-family: 'Honk', system-ui;
}

.btns_wrapper {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  overflow: hidden;
  margin-top: 1.5rem;
}

.btn {
  font-size: 1rem;
  font-family: 'Press Start 2P', system-ui;
  color: var(--yellow);
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  padding: 1em 2em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.btn:hover {
  transform: scale(1.15);
}



