.container {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.timer {
  font-family: 'Press Start 2P', system-ui;
  font-size: 4rem;
  margin-bottom: 40px;
}

.end_game {
  font-size: 1rem;
  margin-top: 32px;
  position: absolute;
  top: 0;
  right: 32px;
  font-family: 'Press Start 2P', system-ui;
  color: #ffd800;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50px;
  text-transform: uppercase;
  padding: 1em 2em;
  border: none;
}

.end_game:hover {
  transform: scale(1.15);
}

